body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.header {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-logo {
    cursor: default;
    color: rebeccapurple;
    font-size: 20px;
    margin-left: 30px;
}
.account {
    cursor: pointer;
    margin-right: 20px;
}
#svg-socket {
    padding-top: 60px;
    height: calc(100% - 60px);
}
.main {
    padding-top: 80px;
    width: 1040px;
    margin: 0 auto;
}
.tbl-elem {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    padding: 15px 10px;
    background-color: #fff;
}
.process-table > .tbl-elem {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr;

}
.tbl-table > .tbl-elem:nth-child(2n) {
    background-color: #faf8f8;
}
.i-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f0f0f0 !important;
}
.table > thead > tr {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f0f0f0 !important;
}
th {
    padding: 15px;
}
td {
    padding: 10px;
    border: 1px solid #cecece;
}
.table {
    width: 100%;
}